@font-face {
    font-family: RalewayExtraLight;
    src: url(/fonts/Raleway-ExtraLight.ttf?3d22c4cbf0bbf560dbc16342b6bdccd4);
}
@font-face {
    font-family: RalewayMedium;
    src: url(/fonts/Raleway-Medium.ttf?2ec8557460d3a2cd7340b16ac84fce32);
}
body {
    margin: 0;
    background-color: #19191f;
}
hr {
    margin: 0;
    width : 100%;
    height: 3px;
    background: linear-gradient(to right, #ff0000, #ff00c8, #6400ff, #0064ff);
    border-width: 0;
    border-radius:0 0 16px 16px;
}
span {
    color: #ff0059;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}
h1, h2, h3, h4,h5, a, p{
    color: beige;
    font-family: 'RalewayMedium', sans-serif;
    font-size: 13px;
}
.main-container {
    margin: 0 20% 0 20%;
}
.block {
    padding-top: 2px;
    margin-top: 16px;
    background-color: #373843;
    border-radius:6px 6px 0 0;
    border:1px solid #373843;
}
.heading-title {
    padding: 6px;
    font-size: 16px;
    background-color: #1a1a21;
    border-radius:6px 6px 0 0;
}
.heading-title h1 {
    padding-left: 1%;
}
.heading-title h1 a {
    font-family: 'RalewayExtraLight', sans-serif;
    font-size: 23px;
}
.block-menu {
    padding: 0;
    margin: 0;
    display: flex;
}
.block-menu ul {
    padding: 11px;
    margin: 0;
}
.block-menu ul li a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color:#ffe;
            text-decoration-color:#ffe;
}
.block-info {
    padding: 1px;
    background-color: #1a1a21;
}
.block-info p {
    margin-left: 20px;
}
.block-title {
    padding-left: 6px;
    font-size: 16px;
    border-radius:6px 6px 0 0;
}
.block-title h1 {
    padding-left: 1%;
    font-size: 19px;
    font-family: 'RalewayExtraLight', sans-serif;
}
.block-main {
    padding: 6px;
    background-color: #1a1a21;
    border-radius: 9px;
    text-align: center;
}
.alert-error {
    background-color: #ae4a4a;
    margin: 0 30% 0 30%;
    border-radius: 9px;
}
.footer-block {
    background-color: #373843;
    padding: 6px;
}
#box-welcome h1{
    font-size: 26px;
}
.block-main-header {
    text-align: left;
}
.block-line {
    display: inline-block;
    vertical-align:top;
}
.block-line h2 {
    margin:5px;
}
.block-main-header img {
    width: 250px;
    height: 300px;
    border-radius: 6px;
}